<mat-toolbar color="primary">
  <app-header-form/>
</mat-toolbar>

<div class="holy-grail-container">
  <!-- Side Navigation -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" >
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

    <!-- Right Sidebar -->
    <mat-sidenav position="end" mode="side">
      <p>Right Sidebar</p>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<footer class="footer">
  <p>Footer Content</p>
</footer>