<div class="flex-container">
    <div class="left-item">நேரம்</div>
    <div class="form-container">
        <form [formGroup]="headerFormGroup">
            <input type="text" placeholder="Key" formControlName="keyControl" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayJobKey">
                @for (job of taskKeyFilteredOptions | async; track job) {
                <mat-option [value]="job">{{job.key}}</mat-option>
                }
            </mat-autocomplete>
            

        </form>

    </div>
    <div class="right-item">Right Item</div>
</div>